body {
    color: black;
    margin: 0px;
    margin-bottom: 100px;
}


header {
    border: solid 2px rgb(89, 241, 127);
    padding: 10px;
    font-size: 30px;
    color: rgb(89, 241, 127);

}

.chamada {
    background: rgb(201 172 215);
    padding-bottom; 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

    .chamada-texto {
        margin-right: 5%;
    }
}

h1 {
    font-size: 40px;
}
p {
    font-size: 20px;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}
.categoria {
    padding-left: 20px;
    margin-top: 30px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(11, 3, 82);
}
.categoria h2 {
    color: rgb(89, 241, 127);
}